@charset "UTF-8";

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #24292e;
    background-color: #F2F3EB;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, input, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

#mainvisual img {
    max-width: 100%;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.wrapper {
    text-align: center;
}

.section-title {
    text-align: center;
    padding: 5px;
    font-size: 40px;
    border-bottom: 1px solid #5A5A5A;
    display: inline-block;
    padding: 0 40px; 
}

.content {
    max-width: 1000px;
    margin: 100px auto 200px auto;
    display: flex;
    animation: scrollAnime linear;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes scrollAnime {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*----------header----------*/

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 10;
    font-weight: bold;
}

#header ul {
    display: flex;
    padding: 10px 0;
}

#header li {
    margin-right: 30px;
}

#header li a {
    color: #24292e;
}

#header .top-title {
    color: #24292e;
    margin-left: 20px;
}


/*--------mainvisual-----------*/

#mainvisual {
    animation: 3.5s fadeinimg 0.1s forwards;
    opacity: 0;
    -webkit-mask-image: linear-gradient(black 30%, transparent);
    mask-image: linear-gradient(black 30%, transparent);
}

@keyframes fadeinimg {
    0% {
        left: 20px;
    }
    100% {
        top: 30px;
        opacity: 0.9;
    }
}


/*----------about-----------*/

.icon {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.a-text {
    text-align: left;
}

.content-title {
    font-size: 30px;
}

/*-----------works----------*/

.production {
    display: flex;
    justify-content: center;
    align-items: center;
}
.production:nth-child(even) {
    flex-direction: row-reverse;
}

.w-img img{
    object-fit: cover;
}

.text-link {
    text-align: center;
    margin: 60px 0 60px 0;
}
.text-link a {
	position: relative;
	color: #333;
	text-decoration: none;
}
.text-link a:hover {
	opacity: 0.7;
}

.text-link a::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	background-color: grey;
	border-radius: 50%;
	transition: 0.3s;
    opacity: 0.7;
}

.text-link a:hover::after {
	width: 35px;
	height: 35px;
}


/*---------contact---------*/

form {
    padding: 37.5px;
    margin: auto;
}

.email {
    float: right;
    width: 45%;
}

input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder { 
    color: #474544;
    opacity: 1;
}

::-moz-placeholder {
    color: #474544;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #474544;
}

#form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #474544;
    color: #F2F3EB;
}


/*--------footer--------*/

#footer {
    text-align: center;
    margin-top: 150px;
}


/*---------responsive--------*/
@media screen and (max-width: 1024px) {
    body {
        font-size: 17px;
        font-weight: 400;
    }

    .section-title {
        font-size: 38px;
    }

    .content-title {
        font-size: 30px;
    }

    .icon {
        width: 45%;
        height: 45%;
    }

    .navbar {
        opacity: 0.75;
    }
    
    .navbar input[type="checkbox"],
    .navbar .hamburger-lines {
    display: none;
    }

    h1 {
        font-size: 25px;
        margin-left: 0;
    }

    #header li{
        padding: 0;
    }

    #works .production {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin: 50px auto;
    }

    #form_button {
        padding: 15px 25px;
    }

    #about .content {
        display: flex;
        flex-direction: column;
    }

    .a-text {
        padding: 0 30px;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .email {
        float: none;
    }

    .name {
        float: none;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
        font-weight: 300;
    }

    .section-title {
        font-size: 28px;
    }

    .content-title {
        font-size: 20px;
    }

    .icon {
        width: 45%;
        height: 45%;
    }

    .navbar {
        opacity: 0.75;
    }
    
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 85px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 85px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #5A5A5A;
    }
    
    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    
    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    
    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    
    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(100%);
        display: flex;
        flex-direction: column; 
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }
    
    .navbar .menu-items li {
        margin-bottom: 2.5rem;
        margin-left: 40px;
        font-size: 1.3rem;
        font-weight: 500;
        border-bottom: solid 1px #5A5A5A;
    }

    .navbar .menu-items li:first-child {
        margin-top: 65px;
    }
    
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }
    
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }
    
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }

    h1 {
        font-size: 25px;
        margin-left: 0;
    }

    #header li{
        padding: 0;
    }

    #works .production {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin: 50px auto;
    }

    #form_button {
        padding: 15px 25px;
    }

    #about .content {
        display: flex;
        flex-direction: column;
    }

    .a-text {
        padding: 0 30px;
        word-break: break-word;
        overflow-wrap: break-word;
    }

    .email {
        float: none;
    }

    .name {
        float: none;
    }
}
